.grid-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1.5em;
    padding: 2em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -5px rgba(91, 164, 164, 0.25);
    margin-top: 2em;
}

figure {
    width: 80px;
    height: 80px;
    margin: 0;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badges-content {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.badges {
    margin-left: 1em;
}

.badges span {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    padding: 8px 10px 6px 10px;
    margin-right: 1em;
    border-radius: 12px;
}

.badges span:last-child {
    margin-right: 0em;
}

.badges span.new {
    background-color: var(--cyan);
}

.badges span.featured {
    background-color: var(--very-dark-grayish-cyan);
}

.grid-item h5 {
    color: var(--cyan);
    font-size: 14px;
}

.grid-item h3 {
    color: var(--very-dark-grayish-cyan);
    font-weight: 700;
    margin-bottom: 0.5em;
}

.information span {
    color: var(--dark-grayish-cyan);
    font-size: 14px;
    margin-right: 2em;
    position: relative;
}

.information span::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: var(--dark-grayish-cyan);
    border-radius: 50%;
    top: calc(50% - 4px);
    right: -1em;
}

.information span:last-child::before {
    content: none;
}

.item-skills ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
}

.item-skills ul li {
    color: var(--cyan);
    font-weight: 700;
    font-size: 13px;
    background-color: var(--light-grayish-cyan-bg);
    padding: 10px 12px 8px 12px;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 5px;
    line-height: 13px;
}

.item-skills ul li:last-child {
    margin-right: 0;
}

.item-skills ul li:hover {
    color: #fff;
    background-color: var(--cyan);
}

.border {
    border-left: 5px solid var(--cyan);
}

@media only screen and (max-width: 991px) {
    .item-skills {
        flex: 1;
    }

    .item-information {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .item-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-information {
        margin-bottom: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .item-information {
        width: 100%;
        border-bottom: 2px solid #dadada;
        padding-bottom: 1.5em;
    }
}

@media only screen and (max-width: 550px) {
    .grid-item {
        grid-template-columns: 1fr;
        padding-top: 3em;
        position: relative;
        margin-top: 5em;
    }

    .item-image {
        position: absolute;
        left: 2em;
        top: -40px;
    }

    figure {
        width: 70px;
        height: 70px;
        margin: 0;
    }
}
