:root {
    --cyan: #5ba4a4;
    /*Background*/
    --light-grayish-cyan-bg: #effafa;
    /*Filter Tablets*/
    --light-grayish-cyan-filter: #eef6f6;
    /**/
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 15px;
    background: var(--light-grayish-cyan-bg);
    min-height: 100vh;
    font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    user-select: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.jobs {
    padding-bottom: 5em;
    flex: 1;
}

footer {
    padding-bottom: 3em;
}

.attribution {
    text-align: center;
    margin: 0;
}

.attribution a {
    text-decoration: none;
    color: var(--cyan);
    font-weight: 700;
}
